﻿@model DVDLibrary.Models.View_Models.DvdViewModel

@{
    ViewBag.Title = "AddNewDvd";
}

<h2>Add a new Dvd</h2>

@using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "AddNewDvdForm"}))
{
        @Html.AntiForgeryToken()

        @*@Html.HiddenFor(m => m.Dvd.MpaaRatingId, new {m = Model.MpaaRating.MpaaRatingId})*@
        <div class="form-horizontal">
        <hr/>

        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

            <div class="form-group">
                @Html.LabelFor(model => model.Dvd.ReleaseDate, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Dvd.ReleaseDate, new {htmlAttributes = new {@class = "form-control"}})
                   @*@Html.ValidationMessageFor(model => model.Dvd.ReleaseDate, "", new {@class = "text-danger"})*@
                </div>
            </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dvd.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Dvd.Title, htmlAttributes = new { @class = "form-control" } })*@
                @Html.EditorFor(m => m.Dvd.Title, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Studio.StudioName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Studio.StudioName, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.Studio.StudioName, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <label class ="control-label col-md-2">Select an MPAA Rating:</label>
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.MpaaRating.MpaaRatingId, Model.MpaaRating.RatingItems, "-Choose One-", new {@class = "form-control"})
                @*@Html.ValidationMessageFor(m => m.MpaaRating.MpaaRatingId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dvd.UnitsInStock, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dvd.UnitsInStock, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.Dvd.UnitsInStock, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "DisplayAllDvds")
</div>


@section scripts
{
<script src="~/Scripts/jquery.validate.min.js"></script>
@*<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
<script src="~/Scripts/app/jquery-validate-defaults.js"></script>
<script src="~/Scripts/app/AddNewDvdValidation.js"></script>
}
