﻿@model IEnumerable<DVDLibrary.Models.View_Models.DvdViewModel>

@{
    ViewBag.Title = "Display All DVDs";
}

<h2>Dvd Collection</h2>

<p>
    @Html.ActionLink("Add new Dvd", "AddNewDvd", "Home")
</p>
@*<table class="table table-responsive table-striped">
    <tr>*@
        @*<th>
            @Html.DisplayNameFor(model => model.Dvd.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dvd.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Studio.StudioName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MpaaRating.MpaaRatingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dvd.UnitsInStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dvd.Link)
        </th>*@
        
        @*<th></th>
        <th></th>*@

        @foreach (var item in Model)
        {
            @*<td>
                    @Html.DisplayFor(modelItem => item.Dvd.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dvd.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Studio.StudioName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MpaaRating.MpaaRatingName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dvd.UnitsInStock)
                </td>*@

            @*<tr></tr>

            <td>*@
                @*@Html.DisplayFor(modelItem => item.Dvd.Link)*@
            <div class="col-lg-4">
                <img class="img-responsive" src="@Url.Content(item.Dvd.Link)" alt="Image" style="width: 95%; height: 85%; max-height: 492px;" />
                @Html.DisplayFor(modelItem => item.Dvd.ReleaseDate)
                @Html.DisplayFor(modelItem => item.Dvd.Title)
                @Html.DisplayFor(modelItem => item.Studio.StudioName)
                @Html.DisplayFor(modelItem => item.MpaaRating.MpaaRatingName)
                @Html.DisplayFor(modelItem => item.Dvd.UnitsInStock)
                @*<br/>*@
            </div>
            @*</td>
            @*<td>*@
                    @*Html.ActionLink("Edit", "Edit", new { id=item.DvdId }) |
                    Html.ActionLink("Details", "DisplayDvd", "Home", new {id = item.Dvd.DvdId}, null)
                    Html.ActionLink("Delete", "RemoveDvd", "Home", new {id = item.Dvd.DvdId}, null)
                </td>*@

        }
    @*</tr>
</table>*@
