﻿@model IEnumerable<DVDLibrary.Models.View_Models.DvdViewModel>

@{
    ViewBag.Title = "Search All Dvds";
}

<h2>Dvd Collection</h2>

<p>
    @Html.ActionLink("Add new Dvd", "AddNewDvd", "Home")
</p>
<table class="table table-responsive table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dvd.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dvd.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Studio.StudioName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MpaaRating.MpaaRatingName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dvd.UnitsInStock)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dvd.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dvd.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Studio.StudioName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MpaaRating.MpaaRatingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dvd.UnitsInStock)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.DvdId }) |*@
                @Html.ActionLink("Details", "DisplayDvd", "Home", new { id = item.Dvd.DvdId }, null)
                @*@Html.ActionLink("Delete", "Delete", new { id=item.DvdId })*@
            </td>
        </tr>
    }

</table>
