﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dvd Library", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dvd Collection", "DisplayAllDVDs", "Home")</li>
                    @*<li class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </li>*@
                </ul>
                         
                <div class="col-lg-3">
                    <div class="input-group input-sm">
                        @using (Html.BeginForm("SearchForDvds", "Home", FormMethod.Get, new {@class = "form-inline"}))
                        {
                            <div class="form-group">
                                <input type="text" class="form-control" name="search" placeholder="Search by title">
                            </div>
                                <div class="form-group">
                                    <span class="input-group-btn">
                                    <button class="btn btn-secondary">Go!</button>
                                </span>
                            </div>
                            @*@Html.ActionLink("Go!", "SearchForDvds", "Home", new { search ="Big" }, new { @class = "btn btn-default" })*@
                         }
                                                                            @*
        <form action="" class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Works with" style="width: 100px;"/>
            </div>

            ...
            <div class="form-group">
                <div class="input-group" style="width: 220px;">
                    <span class="input-group-addon">BUT</span>
                    <input type="text" class="form-control" placeholder="not with input-groups" />
                </div>
            </div>
        </form>
                                                                            *@

                    </div>
                </div>

                </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", false)
</body>
</html>